@model IEnumerable<WebApplication.Models.TourEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventID })
        </td>
    </tr>
}

</table>
